<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".DemoApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Demo2">

        <receiver
            android:name=".searchtoolswidget.sync.WidgetScheduleReceiver"
            android:exported="false" />

        <activity
            android:name=".searchmock.ui.shortcut.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".searchmock.ui.shortcut.WeatherActivity"
            android:exported="false" />
        <activity
            android:name=".searchmock.ui.shortcut.HistoryActivity"
            android:exported="false" />
        <activity
            android:name=".searchmock.ui.shortcut.FavoritesActivity"
            android:exported="false" />
        <activity
            android:name=".searchmock.ui.SearchResultActivity"
            android:exported="false" />
        <activity
            android:name=".searchmock.ui.SearchActivationActivity"
            android:exported="false" />
        <activity
            android:name=".searchmock.ui.LauncherActivity"
            android:launchMode="singleTop"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
